<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>account_book</title>
  <script src="/assets/js/Chart.min.js"></script>
</head>
<body>
  <% unless @items.empty? %>
    <canvas id="graph"></canvas>
  <% end %>
  <h3>合計:<%= @total %>円</h3>
  <div>
    <form action="/create" method="post">
      <div>
        <label for="title">内容</label>
        <input type="text" name="title" id="title">
      </div>
      <div>
        <label for="price">金額</label>
        <input type="text" name="price" id="price">
      </div>
      <div>
        <label for="category">カテゴリー</label>
        <select name="category" id="category">
          <% @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        </select>
      </div>
      <input type="submit" value="追加">
    </form>
  </div>
  
  <div>
    <% @categories.each do |category| %>
      <a href="/category/<%= category.id %>"><%= category.name %></a>
    <% end %>
  </div>
  
  <% if @category_name.present? %>
    <h2><%= @category_name %></h2>
  <% end %>
  
  <div>
    <% @items.each do |item| %>
      <p><%= item.category.try(:name) %></p>
      <div>
        <p><%= item.title %></p>
        <p><%= item.price %>円</p>
      </div>
      <div>
        <span>
          <form action="/delete/<%= item.id %>" method="post">
            <input type="submit" value="DELETE">
          </form>
        </span>
        <span>
          <a href="/edit/<%= item.id %>">EDIT</a>
        </span>
      </div>
    <% end %>
  </div>
  <script>
    ctx = document.getElementById("graph");
    ctx.width = 500;
    clr = ['lightsalmon', 'palegreen', 'lightskyblue', 'plum', 'silver', 'pink'];
    var price = [], colors = [], labels = [];
    <% @items.each_with_index do |item, idx| %>
      price.push(<%= item.price %>);
      labels.push('<%= item.title %>');
      colors.push(clr[<%= idx % 6 %>]);
    <% end %>
    var data = {
      labels: labels,
      datasets:[
      {
        data:price,
        backgroundColor: colors
      }]
    };
    var myDoughnut = new Chart(ctx,{
      type: 'doughnut',
      data: data,
      options: { responsive: false }
    });
  </script>
</body>
</html>
